.nav {
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    width:15%;
    background-color: #0033cc;
}

.nav ul {
    list-style-type: none;
    padding: 5%;
    margin: 0;
}

.nav li {
    margin: 10px;
}

.nav a{
    font-family: sans-serif;
    text-decoration: none;
    color: #ffffff;

}

body {
    background-color: #f0f0f5;
}

/* Home.html */

.textstuff {
    font-family: sans-serif;
    margin-left: 17.5%;
    margin-right: 35%;
}

.textstuff h1 {
    font-size: 60px;
    font-weight: bold;
}

.textstuff p {
    font-size: 20px;
}

/* About.html */

.about_text  {
    font-family: sans-serif;
    margin-left: 17.5%;
    margin-right: 35%;
}

.about_text h1 {
    font-size: 60px;
    font-weight: bold;
}

.robotics {
    font-family: sans-serif;
    margin-left: 17.5%;
    margin-right: 35%;
}

.robotics h1 {
    font-size: 40px;
    font-weight: bold;
}

/* Projects.html */

.project_text {
    font-family: sans-serif;
    margin-left: 17.5%;
    margin-right: 35%;
}

.project_text h1 {
    font-size: 60px;
    font-weight: bold;
}

/* Contact.html */