body {
    background-color: #f2f2f2;
}

.nav li {
    display: inline;
    font-size: 30px;
    word-spacing: 10px;
}

.nav a {
    text-decoration: none;
    font-family: sans-serif;
    color: blue;
}

/* Home.html */

.textstuff {
    font-family: sans-serif;
    margin-left: 10%;
    margin-right: 10%;
}

.textstuff h1 {
    font-size: 60px;
    font-weight: bold;
}

.textstuff p {
    font-size: 20px;
}

/* About.html */

.about_text  {
    font-family: sans-serif;
    margin-left: 10%;
    margin-right: 10%;
}

.about_text h1 {
    font-size: 60px;
    font-weight: bold;
}

.about_text p {
    font-size: 20px;
}

.robotics {
    font-family: sans-serif;
    margin-left: 10%;
    margin-right: 10%;
}

.robotics h1 {
    font-size: 40px;
    font-weight: bold;
}

/* Projects.html */

.project_text {
    font-family: sans-serif;
    margin-left: 10%;
    margin-right: 10%;
}

.project_text h1 {
    font-size: 60px;
    font-weight: bold;
}

/* Contact.html */