.forminputs {
	position: fixed;
    width:25%;
    font-family: Sans-serif;
}

.input {
	margin:8px;
	padding: 8px;
	width: 80%;
}

.input:focus {
	border: 1px solid #555;
}

.submit {
	width: 80%;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit:hover {
    background-color: #999999;
}

.content {
	font-family: sans-serif;
	margin-left: 25%;
	padding-left: 2%;
}

.content .header #showlink {
	text-align: right;
	text-decoration: none;
	color: blue;
	font-size: 10px
}

.content .header #showlink:hover {
	text-decoration: underline;
}

.content .header .wrapper div #fitbitlink {
	text-decoration: none;
	color: blue;
}

.content .header .wrapper div #fitbitlink:hover {
	text-decoration: underline;
}

.content .main #dataTable {
	overflow-x: auto;
	width: 100%;
}

.content .main #dataTable th, td {
	padding: 15px;
}

.content .main #dataTable tr:nth-child(odd) {
	background-color: #f2f2f2;
}

.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}